*{
    margin: 0;
    color: rgb(241, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    scroll-behavior: smooth;
}
body{
  background-color: #000000;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  margin: 0 auto;
}
header{
  font-weight: 700;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  bottom: 0;
  min-height: 100%;
  margin: 0 auto;
}
.navbar{
    height: 35px;
    width: 100%;
    padding: 10px;
    position: fixed;
    display: flex;
    border: 1px solid rgb(24, 24, 24);
    background-color: #000000;
}

/** Hello Typing Animation **/
.nav-intro{
    font-size: 25px;
    display: inline-block;
}
.typed-out {
    overflow: hidden;
    border-right: .15em solid rgb(255, 255, 255);
    font-size: 25px;
    width: 0;
    animation: typing 3s steps(20, end) forwards; 
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
/** Contact Me Button Styling **/
.menubar-content:hover{
    background-color: rgb(236, 220, 245);
    color: rgb(48, 46, 46);
    font-weight: 500; 
  }

/** SideBar Styling **/
.menubar{
    border: 1px solid rgb(26, 25, 25);
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    right: 25px;
}
.menubar-mobile{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 30px;
}
@media only screen and (min-width: 850px){
  .menubar-mobile{
    display: none;
  }
}
input, ul.submenu {  
  display: none;  
  list-style:none;  
  text-decoration: none;  
  font-weight: bolder;  
  margin-top: 15px;  
}
label {  
  position: relative;  
  display: block;  
  cursor: pointer;  
  background: transparent;    
  color: white;
  
  font-weight: bolder;  
}

input:checked~ul.submenu {  
  display: block; 
  }

@media only screen and (max-width: 850px) {
  .menubar {
      display: none;
  }
}

.menubar-content{
  display: inline;
  font-size: 1.2rem;
  justify-content: space-evenly;
  align-content: center;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 12px;
  padding-left: 12px;
  font-family: 'Courier New', Courier, monospace;
}

/** Main Styling Logo**/
.myimage-main{
  padding: 50px;
  padding-top: 120px;
}
.profile-picture{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
} 
.intro-name{
  font-size: 60px;
  font-weight: 500;
  text-align: center;
}
.intro-username{
  text-align: center;
}
.intro-disc{
  padding-top: 20px;
  font-size: 18px;
  font-weight:200;
  text-align: center;
}
.socials{
  display: inline;
  text-align: center;
  position: relative;
  margin: 30px;
  font-size: 25px;
}

.social-logos a{
  padding: 10px;
}
.social-logos :hover{
  border: 2px solid grey;
  position: static;
}

/** HEADER DONE**/

/** MAIN START**/
.hello-intro{
  padding-top: 35px;
  padding-left: 30px;
  height: 220px;
  background-color: azure;
  color: black;

}
.hello-intro h1{
  color: black;
  font-weight: 1000;
  font-size: xx-large;
  padding-bottom: 15px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.hello-intro p{
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}
@media only screen and (max-width: 768px) {
  [class*="hello-intro"] {
    font-size: 0.9rem;
  }
}
.portfolio-start{
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}
.portfolio-start p{
  font-size: smaller;
  font-family: 'Courier New', Courier, monospace;
}
/**TECH STACK**/
.techstack{
  padding: 40px;
  padding-bottom: 10px;
}
.techstack-intro{
  padding-bottom: 25px;
}
.stacks{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  border: 1px solid black;
  background-color: #1c1b23;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.stacks p{
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #0b0b0e;
  padding: 10px;
  text-align: center;
  margin: 7px;
  color: rgb(226, 210, 210);
}

#titles{
  color: rgb(226, 210, 210);
  padding-bottom: 5px;
  text-align: center;
}
/* Default styles for larger screens */
.dev-link img {
  width: 652px;
}

/* Media query for screens below 765px */
@media (max-width: 765px) {
  .dev-link img {
      width: 356px;
  }
}

/**PROJECTS**/
.projects{
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}
.project-img{
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 220px;
  height: 130px;
  background-size: cover;
  color:transparent"
}
.project-info{
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 220px;
  height: auto;
  text-align: left;
  
}
.project-info p{
  color: black;
  font-weight: 550;
  font-size: large;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}
#p-1{
  font-weight: 500;
  font-size: small;
  padding-top: 0;
  padding-bottom: 20px;
}

/* FOOTER */
.footer-1{
  font-family: monospace; 
  display: flex;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.contact-me{
  width: 50%;
  font-size: 35px;
  text-align: left;
  display: block;
}
.contact-me p{
  padding-bottom: 0px;
  font-family: 'Franklin Gothic Medium';
}
.contact-me-details{
  font-size: 16px;
  font-weight: 700;
  
}
#contact-details-1{
  padding-bottom: 10px;
}
#contact-details-1 a{
  text-decoration: none;
  font-weight: 500;
  color: #00acff;
}
#contact-details-1 a:hover{
  font-size: large;
  color: pink;
}

/**SITE MAP**/
@media only screen and (max-width: 850px){
  .dev-intro{
    display: none;
  }
}

@media only screen and (min-width: 850px){
  .dev-intro{
    display: flex; 
    justify-content: center; 
    background-color: rgb(37, 35, 35); 
    border-radius: 10px;
  }
}

@media only screen and (min-width: 850px){
  .dev-intro-mobile{
    display: none;
  }
}

@media only screen and (max-width: 850px){
  .dev-intro-mobile{
    display: flex; 
    justify-content: center; 
    background-color: rgb(37, 35, 35); 
    border-radius: 10px;
  }
}
.site-map{
  font-size: 35px;
  text-align: left;

}
.site-map p{
  padding-bottom: 0px;
  font-family: 'Franklin Gothic Medium';
}

@media only screen and (max-width: 800px) {
  .site-map {
      display: none;
  }
}

.site-map-details{
  font-size: 16px;
  font-weight: 700;
  
}
#site-details-1{
  padding-bottom: 10px;
}
#site-details-1 a{
  text-decoration: none;
  font-weight: 500;
  color: #00acff;
}
#site-details-1 a:hover{
  font-size: large;
  color: pink;
}

.top-button{
  display: flex;
  position: absolute;
  right: 30px;
  font-size: 40px;
  bottom: 50px;
  opacity: 0.8;
}


.footer-2{
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: rgba(12, 14, 12, 0.5);
}
.footer-2 p{
  font-family: 'Courier New', Courier, monospace; 
  letter-spacing: 0%;
  opacity: 100%;
  font-weight: 900;
}