body{
  background-color: rgb(17, 1, 22);
  color: rgb(237, 232, 247);
  
}
#container{
  display: inline-flex;
  position: fixed;
  align-items: center;
}
#balls{
  border: 0px black;
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 5px;
  }
  #btton{
    background-color: rgb(99, 77, 121);
    color: rgb(255, 255, 255);
    border: 0px rgb(0, 0, 0);
    padding: 5px;
    right: 20px;
    border-radius: 5%;
    position: inherit;
    cursor: pointer; 
    transition : all 0.5 s ease-in;  
   
  }
  #btton:hover{
    background-color: rgb(206, 199, 212);
    color: black;
    transform: scale(1.2,1.2);
  }
  #para1{
    padding-top:60px;
  }
  #footermain{
  text-align: center;
  bottom: 10px;
  background-color: rgb(5, 4, 4);
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
}